body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  background: #f2f2f2;
  padding: 16px;
  text-align: center;
}

main {
  padding: 20px;
}

.neko-list li {
  margin: 8px 0;
}

a {
  color: #3366cc;
  text-decoration: none;
}

img {
  max-width: 300px;
  display: block;
  margin-bottom: 16px;
}
